.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2% auto;
    border: 1px solid #e0e0e0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-section {
    text-align: center;
    margin-bottom: 20px;
}

.header-text {
    font-size: 24px;
    font-family: fantasy;
    vertical-align: middle;              
    font-weight: 300;             
    color: #1723a4;               
    letter-spacing: 1.5px;        
    text-transform: uppercase;    
    padding-bottom: 5px;          
    margin-left: 10px;   
}

/* Main content section */
.content-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
}

/* Image placeholder section */
.image-container{
    flex: 2;
    background-image: url('../../assets/side-image.jpg');
    background-image: url('../../assets/simage2.jpg');
    background-image: url('../../assets/simage3.jpg'); 
    background-image: url('../../assets/simage4.jpg'); 
    background-repeat: no-repeat;
    width:80%;
    height: 500px; 
}

.form-section {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.signup-text {
    margin-bottom: 20px;
    text-align: right;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.forgot-password {
    float: right;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}
