<div class="login-container">
    <div class="logo-section">
        <p>
        <img src="assets/logo.png" class="logo"/>
        <span class="header-text"> Horizon ATS</span></p>
    </div>
    <div class="content-section">
        <div class="image-container">
                <ng-image-slider #nav
                [images]="imageObject"
                [infinite]="false"
                [autoSlide]="1"
                [imageSize]="{width: '80%', height: 500}"
                slideImage="4"></ng-image-slider>
        </div>
        <div class="form-section">
            <h2>Forgot Password</h2>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" id="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required/>
                </div>
                <div class="button-group">
                    <button type="submit" >Submit</button>
                    <button type="button" (click)="onCancel()" style="margin-left:54px">Cancel</button>
                </div>
            </form>
        </div>
    </div>