.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.logo-section {
    text-align: center;
    margin-bottom: 20px;
}

.header-text {
    font-size: 24px;
    font-family: fantasy;
    vertical-align: middle;              
    font-weight: 300;             
    color: #1723a4;               
    letter-spacing: 1.5px;        
    text-transform: uppercase;    
    padding-bottom: 5px;          
    margin-left: 10px;   
}
  
.horizon-text {
    font-size: 24px;
    margin-left: 10px;
}
  
.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.image-container{
    flex: 2;
    background-image: url('../../assets/side-image.jpg');
    background-image: url('../../assets/simage2.jpg');
    background-image: url('../../assets/simage3.jpg'); 
    background-image: url('../../assets/simage4.jpg'); 
    background-repeat: no-repeat;
    width:80%;
    height: 500px; 
}
  
.form-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width: 200%;
    margin-left: 200px;

    width: 400px; /* or any other width value that suits your design */
  padding: 20px; /* This adds space inside the div, making its content more spaced out */
  
  /* If you want to increase height specifically, you can use: */
  /* height: 500px; */
  
  /* Other previously defined styles */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.form-group {
    margin-bottom: 30px;
}
  
.btn-group button {
    margin-left: 200px;
    justify-items: space-between;
}  